header {
  width: 100vw;
  height: 72px;
  text-align: center;
  background: #ffffff;
  position: fixed;
  padding-left: 3rem;
  z-index: 999;
  border-bottom: 1px solid #ebebeb;
}
.nav {
  position: absolute;
  top: 100%; /*置於父元素正下方*/
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #b5cc22;
  transition: transform 0.2s ease-out;
  transform-origin: top;
  transform: scale(1, 0);
}
.nav-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 7%;
  top: 2rem;
  width: 5rem;
}
.login {
  position: fixed;
  width: 5rem;
  height: 3rem;
  background-color: #fff;
  color: #b5cc22;
  bottom: 10rem;
  left: 7%;
  border: 0px;
  border-radius: 28px;
  padding: auto;
}
.navbar-brand {
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  /*與外層 Header 高度相同達到垂直置中*/
  line-height: 60px;
}
.nav-item {
  margin: 1.4rem 0;
  opacity: 0;
}
.nav-link {
  color: #ffffff;
  font-size: larger;
}
.nav-link:hover {
  color: #677510;
}
.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
  opacity: 1;
}
.navbar-toggle:checked ~ .nav .nav-item {
  transition: opacity 0.2s ease-out 0.15s;
  opacity: 1;
  /*開啟時透明度為1*/
  opacity: 1;
}
.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
}
.hamburger {
  width: 30px;
  height: 3px;
  background: #267b98;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #b5cc22;
}
.hamburger::before,
.hamburger::after {
  /*給一個空的內容*/
  content: '';
}
.hamburger {
  position: relative;
}
.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  content: '';
}
.hamburger::before {
  top: 8px;
}
.hamburger::after {
  bottom: 8px;
}
/* 修改 hamburger 切換成 x 的樣式 */
.navbar-toggle:checked ~ .navbar-toggle-label .hamburger::before {
  top: 0;
  transform: rotate(45deg); /* 旋轉 45 度 */
  background: #b5cc22;
  width: 24px;
}
.navbar-toggle:checked ~ .navbar-toggle-label .hamburger::after {
  bottom: 0;
  transform: rotate(-45deg); /* 旋轉 -45 度 */
  background: #b5cc22;
  width: 24px;
}
.navbar-toggle:checked ~ .navbar-toggle-label .hamburger {
  background: #fff;
}
.navbar-toggle {
  /*不佔空間*/
  visibility: hidden;
  position: absolute;
}
@media screen and (min-width: 768px) {
  /*Main Header*/
  /*移除漢堡排*/
  .navbar-toggle-label {
    display: none;
  }
  /*導覽列 CSS 樣式設定復原*/
  .nav {
    all: unset;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
  }
  /*導覽項目 CSS 樣式設定復原*/
  .nav-item {
    margin: 0;
    opacity: 1;
  }
  .nav-link {
    color: #677510;
  }
  .nav-link:hover {
    color: #b5cc22;
  }
  header {
    all: unset;
    display: flex;
    width: 100%;
    height: 104px;
    text-align: center;
    background: #ffffff;
    z-index: 999;
  }
  .navbar-brand {
    grid-column: 2 / 3;
  }
  .nav-list {
    all: unset;
    list-style: none; /* 移除點點 */
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-gap: 2rem;
  }
  .login {
    all: unset;
    width: 5rem;
    height: 2.5rem;
    background-color: #b5cc22;
    color: #fff;
    border-radius: 28px;
    cursor: pointer;
  }
}
